h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

:root {
    --color-web: #4D5AE5;
    --color-studio: #2E2F42;
    --color-info: #434455;
    --color-background: #FFFFFF;
    ;

}

body {
    font-family: "Robot", sans-serif;
}

.container {
    max-width: 1440px;
    max-height: 72px;
    margin: 0 auto;
    padding: 24px 156px;
    background-color: var(--color-background);
    border: 1px solid red;
}

.header-container {
    display: flex;
}

.header-nav {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;

    display: flex;
    align-items: center;
}

.header-list .header-item {
    display: inline;
    margin-left: 40px;
}

.header-address {
    display: flex;
    align-items: center;
}

.logo-studio {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: var(--color-studio);
    text-transform: uppercase;
    height: 21px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: var(--color-web);
    text-transform: uppercase;
    height: 21px;
    text-decoration: none;
}

.hero-section {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--color-studio);
}

.hero-title {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: var(--color-background);
    max-width: 1440px;
    max-height: 600px;
    padding: 188px 472px 292px 472px;
}

.primary-button {

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    background-color: var(--color-web);
    color: var(--color-background);
    width: Hug (169px)px;
    height: Hug (56px)px;
    top: 428px;
    left: 636px;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    border-radius: 4px;
    opacity: 0px;

}

.section-objectivs .container {
    max-width: 1128px;
    max-height: 104px;
    padding: 120px 156px;
}

.section-objectivs .container .objectivs-list {
    display: flex;
}

.objectivs-title {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-studio);
}

.section-objectivs .container .container-objectivs {
    max-width: 264px;
}