h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

:root {
    --color-web: #4D5AE5;
    --color-studio: #2E2F42;
    --color-info: #434455;
    --color-background: #FFFFFF;
}

body {
    font-family: "Robot", sans-serif;
}

/* Header */
.main-header {
    border-bottom: 1px solid #e7e9fc;
}

.container {
    max-width: 1158px;
    max-height: 72px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-header>.header-container {
    display: flex;
    border: 1px solid #e7e9fc;
}

.header-nav {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-item {

    display: flex;
    gap: 40px;
}

.header-link {
    padding: 24px 0;
}

.header-address {
    display: flex;
    align-items: center;
}

.logo-studio {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: var(--color-studio);
    text-transform: uppercase;
    height: 21px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: var(--color-web);
    text-transform: uppercase;
    height: 21px;
    text-decoration: none;
    margin-right: 76px;
}

/* Sectiunea 1 */
.hero-section {
    padding: 188px 0;
    background-color: var(--color-studio);
    color: var(--color-background);
    max-width: 1158px;
}

.section {
    display: flex;
    margin-left: 266px;
}

.hero-title {
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    max-width: 496px;
}

.primary-button {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    min-width: 169px;
    background-color: var(--color-web);
    color: var(--color-background);
    border: none;
    cursor: pointer;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    border-radius: 4px;
}

/* Sectiunea 2 */
.section-objectivs {
    padding: 120px 0;
    max-width: 1128px;
    margin-left: 300px;
}

.visually-hidden {
    visibility: hidden;
}

.objectivs-list {
    display: flex;
    gap: 24px;
    margin-right: 24px;
}

.objectivs-list .objectivs-item:last-child {
    margin-right: 0;
}

.objectivs-item {
    width: calc((100% - 72px) / 4);
}

.objectivs-item .objectivs-title {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--color-studio);
}

.objectivs-text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-info);
}

/* Sectiunea 3 */
.team-section {
    padding: 120px 0;
    background-color: #F4F4FD;

}

.our-team-title {
    margin-bottom: 72px;
    text-align: center;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-people {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.container-box {
    padding: 32px 0;
}

.team-title {
    text-align: center;
    margin-bottom: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-studio);
}

.team-text {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-info);
}

/* Sectiunea 4 */
.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
    margin-top: 300px;
}

.portfolio-title {
    margin-bottom: 72px;
    text-align: center;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-lists {
    width: calc((100% - 48px) / 3);
}

.container-box-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

.portfolio-titles {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-studio);
}

.portfolio-texts {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-info);
}

/* Footer */
.footer {
    padding: 100px 0;
    display: inline-block;
    background-color: var(--color-studio);
    margin-bottom: 16px;
}

.footer-paragraph {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    max-width: 264px;
    color: #F4F4FD;
}

.logo-studio-footer {
    color: #F4F4FD;
}